.kcBodyClass {
    background-image: url('../../assets/health-care-team.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: poppins, sans-serif;
    font-size: 14px !important;
}

.KcHeaderClass, .kcHeaderWrapperClass {
    display: none;
}

.kcFormCardClass {
    width: 30vw;
    min-width: 540px;
    height: 98%;
    background-color: white;
    padding: 1.5em !important;
    box-shadow: .5em 0 1em rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: auto;
    border: none;

    .logo {
        width: 100%;
        margin-bottom: 4em;
        align-self: center;
    }

    #kc-page-title, .kcFormHeaderClass, .login-pf-header {
        display: none;
    }

    .kcInputClass {
        border: 0.1em solid #3f4373;
    }

    .kcButtonClass {
        width: 100%;
        padding: 12px;
        background-color: #3f4373;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s ease;
    }

    .kcButtonClass:hover {
        background-color: #31355a;
        border-color: #2d3052;
    }

    a {
        color: #3f4373;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: #ddd;
        margin: 20px 0;
    }

    .cookies-button {
        background-color: #ced4da;
        border: none;
        color: #1d2125;
        cursor: pointer;
        padding: .5em;
        margin-top: 10px;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 4em;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .cookies-modal {
        position: relative;
        display: flex;
        flex-direction: column;
        background: white;
        padding: 20px;
        border-radius: 1.4em;
        border: .4em solid #3f4373;
        width: 90%;
        max-width: 500px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: start;
    }

    .modal-close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .modal-ok-button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #3f4373;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: auto;
    }

    .modal-ok-button:hover {
        background-color: #3f4373;
    }

}

@media (max-width: 600px) {
    .kcBodyClass {
        background: unset !important;
    }
    .kcFormCardClass {
        min-width: unset !important;
        width: 100% !important;
        height: 100% !important;
        position: relative !important;
        padding: 0 1em !important;
    }
}
